#nav-title{
    color:white;
    font-size: 30pt;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
li {
border-right:1px solid #bbb;
font-weight:bold;
}

li:last-child {
    border-right:none;
}
